//
// Colors
//
$color-white: #ffffff;
$color-black: #000000;
$color-green-aqua: #57a773;
$color-green-rangoon: #100e0b;
$color-gray-light: #f4f5f7;
$color-gray-gallery: #eaeaea;
$color-gray-athens: #e8e9ef;
$color-gray-mercury: #e3e3e3;
$color-grey-alto: #dcdcdc;
$color-grey-oslo: #85878c;
$color-grey-santas: #979cab;
$color-gray-alum: #a4a8b2;
$color-grey-storm: #71737c;
$color-gray-mako: #464a56;
$color-gray-shark: #262c30;
$color-gray-gallery: #eaeaea;

$background: $color-gray-light;
//
// Fonts
//

@font-face {
  font-family: "HelveticaNeue-Black";
  src: url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Black.ttf") format("truetype"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Black.woff") format("woff"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.ttf") format("truetype"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf") format("truetype"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Light.ttf") format("truetype"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff"),
    url("~@/assets/fonts/HelveticaNeue/HelveticaNeue-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("~@/assets/fonts/HelveticaNeue/Helvetica.ttf") format("truetype"),
    url("~@/assets/fonts/HelveticaNeue/Helvetica.woff") format("woff"),
    url("~@/assets/fonts/HelveticaNeue/Helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$helvetica-bold: "HelveticaNeue-Bold", sans-serif;
$helvetica-medium: "HelveticaNeue-Medium", sans-serif;
$helvetica-light: "HelveticaNeue-Light", sans-serif;
$helvetica: "Helvetica", sans-serif;

//
// Mixins
//
@mixin h1() {
  font-size: 32px;
  font-weight: 400;
  color: $color-black;
  font-family: "Segoe UI", sans-serif;
  @include media($screen-tablet) {
    font-size: 48px;
  }

  @include media($screen-netbook) {
    font-size: 56px;
  }

  @include media($screen-desktop-large) {
    font-size: 72px;
    line-height: 94px;
  }
}

@mixin text($size, $weight: 400, $color: inherit) {
  font: {
    size: $size;
    weight: $weight;
  }
  color: $color;
  @content;
}

/* Screens */
$screen-iphone-5: 320px;
$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet-small: 600px;
$screen-tablet: 768px;
$screen-tablet-large: 860px;
$screen-netbook: 961px;
$screen-desktop: 1025px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1441px;
$screen-retina: 1660px;

$screen-xs: 320px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1264px;
$screen-xl: 1904px;

@mixin media($screen: $screen-desktop) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

//
// SASS Variables Vuetify
//
$card-border-radius: 8px;
